<%- include('partials/header') %>

<h1>Add a New Campground</h1>

<form action="/campgrounds" method="POST">
  <input type="text" name="name"  placeholder="Name">
  <input type="text" name="image" placeholder="Url image">
  <button>Submit</button>
</form>

<a href='/campgrounds'>Go Back¡</a>

<%- include('partials/footer') %>
